body{
	font-family:Open Sans Extra Bold	;
}

.head-2
{
background: #e87500;
padding:10px 10px 10px 30px;
clip-path: polygon(96% 0, 100% 49%, 96% 100%, 0 100%, 2% 50%, 0 0);
width:100%;
height:auto;
font-size:1.35em;
text-align:center;
}
.arrow
{
	margin:0px;
	padding:0px;
	text-align:right;
}
.text{
	margin:0px;
	padding:0px;
}
.card-e
{
	padding:10px;
	border:none;
background-color:#d2d9d4;
}
.card-o{
	padding:10px;
	border:none;
}

div.bg-green{
	background-color:rgba(21, 71, 52, 1);
	padding:0px;
}
div.bg-ash{
	background-color:#d2d9d4;
	padding:0px;
}

div.content{
	background-color:#ffffff;
	margin-top:1%;
	margin-bottom:5%;
	padding:2%;
}
.image
{
width:100%;
height:auto;
}

.event{
	background-color:orange;
	color:white;
}